{% extends 'base.html' %}

{% block content %}

<h1>Posts</h1>

<ul>
{% for post in object_list %}
    <li><h4><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
        <a href="{% url 'update_post' post.pk %}" class="btn btn-outline-primary btn-sm">Edit</a>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-outline-danger btn-sm">Delete</a></h4>
        <i>{{ post.author.first_name }}
        {{ post.author.last_name }} - {{ post.post_date }}</i>
        <br/>
        {{ post.body }}
    </li>
{% endfor %}
</ul>

{% endblock %}